Client/Client/Connected Services/ServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/?xsd=xsd0" namespace="MyService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IService_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendInk_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInk" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService_Talk_InputMessage">
    <wsdl:part name="parameters" element="tns:Talk" />
  </wsdl:message>
  <wsdl:message name="IService_EnterRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterRoom" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IService_ShowInk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowInk" />
  </wsdl:message>
  <wsdl:message name="IService_ShowLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogin" />
  </wsdl:message>
  <wsdl:message name="IService_ShowLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogout" />
  </wsdl:message>
  <wsdl:message name="IService_ShowTalk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowTalk" />
  </wsdl:message>
  <wsdl:message name="IService_ShowRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowRoom" />
  </wsdl:message>
  <wsdl:message name="IService_ShowStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowStart" />
  </wsdl:message>
  <wsdl:message name="IService_ShowWin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowWin" />
  </wsdl:message>
  <wsdl:message name="IService_ShowNewTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowNewTurn" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="MyService/IService/test" message="tns:IService_test_InputMessage" />
      <wsdl:output wsaw:Action="MyService/IService/testResponse" message="tns:IService_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInk">
      <wsdl:input wsaw:Action="MyService/IService/SendInk" message="tns:IService_SendInk_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="MyService/IService/Login" message="tns:IService_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="MyService/IService/Logout" message="tns:IService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Talk">
      <wsdl:input wsaw:Action="MyService/IService/Talk" message="tns:IService_Talk_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnterRoom">
      <wsdl:input wsaw:Action="MyService/IService/EnterRoom" message="tns:IService_EnterRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="MyService/IService/StartGame" message="tns:IService_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowInk">
      <wsdl:output wsaw:Action="MyService/IService/ShowInk" message="tns:IService_ShowInk_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogin">
      <wsdl:output wsaw:Action="MyService/IService/ShowLogin" message="tns:IService_ShowLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogout">
      <wsdl:output wsaw:Action="MyService/IService/ShowLogout" message="tns:IService_ShowLogout_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTalk">
      <wsdl:output wsaw:Action="MyService/IService/ShowTalk" message="tns:IService_ShowTalk_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowRoom">
      <wsdl:output wsaw:Action="MyService/IService/ShowRoom" message="tns:IService_ShowRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowStart">
      <wsdl:output wsaw:Action="MyService/IService/ShowStart" message="tns:IService_ShowStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowWin">
      <wsdl:output wsaw:Action="MyService/IService/ShowWin" message="tns:IService_ShowWin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowNewTurn">
      <wsdl:output wsaw:Action="MyService/IService/ShowNewTurn" message="tns:IService_ShowNewTurn_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>