Client/Client/Connected Services/ServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/?xsd=xsd0" namespace="MyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IService_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IService_test0_InputMessage">
    <wsdl:part name="parameters" element="tns:test0" />
  </wsdl:message>
  <wsdl:message name="IService_test0_OutputMessage">
    <wsdl:part name="parameters" element="tns:test0Response" />
  </wsdl:message>
  <wsdl:message name="IService_test1_InputMessage">
    <wsdl:part name="parameters" element="tns:test1" />
  </wsdl:message>
  <wsdl:message name="IService_test1_OutputMessage">
    <wsdl:part name="parameters" element="tns:test1Response" />
  </wsdl:message>
  <wsdl:message name="IService_test2_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:test2" />
  </wsdl:message>
  <wsdl:message name="IService_test2_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:test2Response" />
  </wsdl:message>
  <wsdl:message name="IService_test3_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:test3" />
  </wsdl:message>
  <wsdl:message name="IService_test3_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:test3Response" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="MyService/IService/test" message="tns:IService_test_InputMessage" />
      <wsdl:output wsaw:Action="MyService/IService/testResponse" message="tns:IService_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test0">
      <wsdl:input wsaw:Action="MyService/IService/test0" message="tns:IService_test0_InputMessage" />
      <wsdl:output wsaw:Action="MyService/IService/test0Response" message="tns:IService_test0_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test1">
      <wsdl:input wsaw:Action="MyService/IService/test1" message="tns:IService_test1_InputMessage" />
      <wsdl:output wsaw:Action="MyService/IService/test1Response" message="tns:IService_test1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test2">
      <wsdl:output wsaw:Action="MyService/IService/test2" message="tns:IService_test2_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="MyService/IService/test2Response" message="tns:IService_test2_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="test3">
      <wsdl:output wsaw:Action="MyService/IService/test3" message="tns:IService_test3_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="MyService/IService/test3Response" message="tns:IService_test3_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>