Client/Client/Connected Services/CheckinReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckinServer/?xsd=xsd0" namespace="MyService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckinServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICheckinServer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_Checkin_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkin" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_Talk_InputMessage">
    <wsdl:part name="parameters" element="tns:Talk" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_ShowLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogin" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_ShowLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogout" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_ShowCheckin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowCheckin" />
  </wsdl:message>
  <wsdl:message name="ICheckinServer_ShowTalk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowTalk" />
  </wsdl:message>
  <wsdl:portType name="ICheckinServer">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="MyService/ICheckinServer/Login" message="tns:ICheckinServer_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="MyService/ICheckinServer/Logout" message="tns:ICheckinServer_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkin">
      <wsdl:input wsaw:Action="MyService/ICheckinServer/Checkin" message="tns:ICheckinServer_Checkin_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Talk">
      <wsdl:input wsaw:Action="MyService/ICheckinServer/Talk" message="tns:ICheckinServer_Talk_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogin">
      <wsdl:output wsaw:Action="MyService/ICheckinServer/ShowLogin" message="tns:ICheckinServer_ShowLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogout">
      <wsdl:output wsaw:Action="MyService/ICheckinServer/ShowLogout" message="tns:ICheckinServer_ShowLogout_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowCheckin">
      <wsdl:output wsaw:Action="MyService/ICheckinServer/ShowCheckin" message="tns:ICheckinServer_ShowCheckin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTalk">
      <wsdl:output wsaw:Action="MyService/ICheckinServer/ShowTalk" message="tns:ICheckinServer_ShowTalk_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>